<!-- views/register.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Register - Seed Swap</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Register</h1>
    <% if (typeof error !== 'undefined') { %>
    <p style="color: red"><%= error %></p>
    <% } %>
    <!-- additional errors -->
    <% if (errors && errors.length > 0) { %>
    <ul style="color: red">
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %>
    <form action="/register" method="POST" enctype="multipart/form-data">
      <label>Username:</label><br />
      <input type="text" name="username" required /><br />

      <label>Email:</label><br />
      <input type="email" name="email" required /><br />

      <label>Password:</label><br />
      <input type="password" name="password" required /><br />

      <label>Location:</label><br />
      <input type="text" name="location" /><br />

      <label>Bio:</label><br />
      <textarea name="bio"></textarea><br />

      <label>Profile Image:</label><br />
      <input type="file" name="profileImage" /><br />

      <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="/login">Login here</a>.</p>
  </body>
</html>
